/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
h1 {
  text-align: center;
  text-decoration: underline;
  color: black;
  margin: 20px;
}
h2 {
  text-align: center;
  margin: 20px;
}

p {
  text-align: center;
  font-weight: bold;
  margin: 20px;
}

body {
  background-color: lightblue;
}
div {
  text-align: center;
  margin: auto;
}
button {
  background-color: black;
  border: 1;
  color: #fefbef;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 3;
  margin-top: 1.5rem;
  width: 10%; /* Large, mobile-friendly touch target */
  padding: 5px;
}
html {
  border-style: solid;
  border-color: darkviolet;
  border-width: 10px;
  border-style: outset;
}
ul {
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
footer {
  border-style: solid;
  border-color: darkviolet;
  border-width: 10px;
  border-style: outset;
}
